*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.dropdown{
    display: none;
    /* position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1; */
}
.container{
    width: 100%;
    height: 80px;
position: fixed;
background-color:whitesmoke;

}
.container header{
    width: 80%;
    margin: 0 auto;
    /* position:fixed; */
    /* top: 0; */
    /* background-color: aliceblue; */
    
}
.container header nav .logo{
    width: 30%;
}
.container header nav .logo img{
    width: 30%;
}
.container header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
}
.container header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container header nav ul li{
    list-style-type: none;
    padding: 0 4px;
}
.container header nav ul li a{
    text-decoration: none;
    color: #323951;
    font-size: 14px;
    font-weight: 500;
}
/* .container header nav .course:hover .dropdown{
    display: block;
} */

/* Banner */

.banner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .left h1{
    margin-top: 100px;
    font-size: 60px;
    text-align: left;
    font-weight: 400;
}
.banner .left h1 span{
    font-size: 80px;
    font-weight: 500;
    color: #6674CC;
} 
.banner .left p{
    margin: 30px 0;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 4px;
    color: #565961;
}

.banner .left .btn button{
    text-align: center;
    width: 180px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    font-weight: 300;
    background-color: #6674CC;
}
.banner .right{
    width: 100%;
}
.banner .right img{
    width: 120%;
}

/* Why delta */
.why-delta{
    padding: 120px 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.why-delta .star p{
    font-size: 16px;
    font-weight: 400;
    color: #64666b;
}
/* Company */

.company{
    width: 80%;
    margin: 0 auto;
}
.company h2{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.company h2 span{
    color: #6674CC;
    font-size: 32px;
    font-weight: 500;
}
.company .company-section{
    padding: 100px 0;
}
.company .company-section .box-1{
    width: 80%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 70px;
    text-align: center;
}
.company .company-section img{
    width: 14%;
}
.company p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #54565c;
}
