* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Oswald", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/main_bg.png");
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
}
.container header {
  width: 90vw;
  margin: 0 auto;
  /* padding: 0 15px; */
}
.container header nav {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* margin: 20px 0; */
  padding: 5px 0;
}
.container header nav .left {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container header nav .left ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.container header nav .left ul li .add {
  color: #fff;
  text-decoration: underline;
}
.container header nav .heading {
  font-size: 40px;
  font-weight: 700;
  color: #3ea2ff;
  position: relative;
}
.container header nav .heading .rect-one {
  position: absolute;
  top: 24px;
  left: 65px;
}
.container header nav .heading .rect-two {
  position: absolute;
  left: 127px;
  bottom: 60px;
}
.container header nav ul li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 400;
  font-family: "Red Rose", serif;
}

.container header nav ul li {
  padding: 0 5px;
  list-style-type: none;
}
.container header nav .right {
  width: 30vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container header nav .right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.container header nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Banner section */
.banner {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.banner .spider {
   margin-top:30px;
    
  width: 40vw;
  margin-bottom: 30px;
}
.banner .spider h1 {
  font-family: 'Oswald','sans-serif';
  font-size: 80px;
  font-weight: 700;
  line-height: 133px;
  letter-spacing: 0em;
  text-align: left;
color: #f36666;
text-transform: uppercase;
background: linear-gradient(180deg, #568AF0 16.21%, rgba(255, 255, 255, -0.4) 63%), linear-gradient(175deg, #F36666 0%, rgba(243, 102, 102, 0) 88%);;

  
}
.banner .spider h2{
    text-transform: uppercase;
    color:rgb(218, 212, 212);
font-size: 30px;
font-weight: 400;
margin-top: 10px;   
}

.banner .btn{
    width: 25vw;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}
.banner .btn .watch-now{
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content:center;
    align-items: center;
    width: 200px;
    height: 55.58px;
    border-radius: 16.27px;
padding: 8.13px 9.49px 8.13px 8.13px 9.49px;
    box-shadow: 12.20134162902832px 16.268455505371094px 21.691274642944336px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Lexend', sans-serif;
    
font-size: 18px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
position: relative;
background-image: url('../assets/main_bg.png');
background-position: center;
background-size: cover;
cursor: pointer;
}
.banner .btn .watch-now span{
    margin-top: 14px;
}
.banner .btn .watch-now .dot{
    position: absolute;
    top: 25px;
    left: 32px;
}
.banner .btn p{
    font-family: Lexend;
font-size: 22px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: rgba(62, 162, 255, 1);
cursor: pointer;
}

.banner .about{
    width: 40vw;
    height: 30vh;
    
    background-image: url('../assets/Rectangle\ 5.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .about p{
    font-family: 'Red Rose','sans-serif';
    font-weight: 400;
    font-size: 15px;
    line-height: 18.74px;
    color: rgba(255, 255, 255, 1);
    padding: 20px;
}
.banner .about span{
    color: rgba(62, 162, 255, 1);
}

/* image slider */

.image-slider{
    width: 90vw;
   
    margin: 0 auto;
    padding-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:5px;
    background: rgba(255, 255, 255, 0.1);
}
.image-slider .image-box{
    width: 15vw;
    /* padding: 0 10px; */
}
.image-slider .image-box img{
    width: 200px;
    height:156px;
}
/* Dot */

.dots{
    width: 90vw;
    margin: 0 auto;
    
}
.dots .arrow{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
.dots .arrow img{
    width: 15px;
    height: 15px;

    color:rgba(217, 217, 217, 1);
    ;
}


