<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TASK 1- object reading from EJS File</title>
    <link rel="stylesheet" href="../public/stylesheet/style.css" />
  </head>
  <body>
    <h1>Task 1</h1>
    <p>Index Page</p>
    <h1>User Information</h1>
    <p>Name: <%= data.name %></p>
    <p>Age: <%= data.age %></p>
    <p>Profession: <%= data.work %></p>
  </body>
</html>
