* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: #737373;
}
.main {
  width: 100%;
  height: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 0% 15%;
  position: sticky;
  top: 0;
  /* position: fixed;
 top: 0; */
 /* overflow: hidden; */
 /* z-index: 1; */
 /* bottom: 0; */
  /* top: 50px; */
  background-color: #fff;
  /* background-color: palegoldenrod; */
}
nav button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #333;
  cursor: pointer;
}
.link {
  width: 60%;
  display: flex;
  gap: 10%;
  /* background-color: red; */
}
/* part - 1 */
.part-1 {
  width: 100%;
  height: 100%;
  /* background-color: antiquewhite; */
}
.top-part-1 {
  display: flex;
  width: 100%;
  height: 75%;
  /* background-color: peru; */
}
.bottom-part-1 {
  width: 100%;
  height: 25%;
  /* background-color: cadetblue; */
}
.left-part-1 {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  width: 50%;
  /* gap: 5%; */
  height: 100%;
  padding-left: 15%;
  /* margin-top: 10%; */
  /* background-color: chartreuse; */
}
.left-part-1 h1 {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 5%;
  color: #333;
}
.left-part-1 p {
  font-size: 18px;
  color: #ccc;
}
.left-part-1 .btn-part-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 65%;
  margin-top: 10%;
  height: 15%;
  /* background-color: #5c5c5c; */
  border: 1px solid #333;
  border-radius: 10px;
}

.btn-inner-text h5 {
  color: #969696;
}

.left-part-1 .btn-part-1 .btn-model {
  width: 30%;
  margin-top: -27px;
}
.right-part-1 {
  width: 50%;
  height: 100%;
}
.right-part-1 img {
  width: 65%;
}
