* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
a{
    text-decoration: none;
    color:#333;
}
.main{
    width: 100%;
    height: 100%;
}
.part-1{
    width: 100%;
    height: 100%;
    /* background-color: antiquewhite; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:17%;
    padding: 0% 15%;
    background-color: palegoldenrod;
}
nav button{
    padding: 10px 20px;
    border-radius: 5px;
    border:1px solid #333;
    cursor: pointer;
}
.link{
    width: 60%;
    display: flex;
    gap: 10%;
    /* background-color: red; */
}