*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.banner{
    width: 100%;
    height: 100%;

    padding:0 20%;
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 20px;
}

nav h1{
    margin-right: 300px;
    font-size: 36px;
    font-weight: 400;
}
nav h3{
    margin-right: 80px;
    font-weight: 200;
}