* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
}
.faculty {
  width: 96%;
  display: flex;
  margin: 0 auto;
  height: 75px;

  justify-content: space-between;
}
.faculty .logo .school {
  position: absolute;
  top: -29px;
  width: 7.5%;
}
.faculty .logo .railway {
  margin-top: 5px;
  width: 80px;
}

.faculty h1 {
  text-transform: uppercase;
  font-size: 22px;
  color: #011682;
  text-align: center;
  margin-top: 20px;
}

nav {
  width: 100%;
  background-color: #001fc1;
  padding: 15px;
}
nav .navigation {
  width: 90%;
  margin: 0 auto;
}
nav .navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
nav .navigation ul li a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}
nav .navigation ul li i {
  color: aliceblue;
}

/* banner */

.banner {
  width: 100%;
  height: 450px;
  background: #d3daff;
}
.banner .faculty {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}
.banner .faculty .left h2 {
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.banner .faculty .left p {
  width: 80%;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 145.3%; /* 46.496px */
  text-transform: capitalize;
}
.banner .faculty .right svg {
  margin-top: 20px;
  width: 510px;
  height: 400px;
  transform: rotate(-6deg);
}
