* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main nav {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.main nav h1 {
  font-size: 30px;
  font-weight: 300;
}
.main nav h1 span {
  font-size: 40px;
  color: rgb(0, 235, 143);
}
.main nav .links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main nav .links a {
  text-decoration: none;
  color: #222;
  font-size: 20px;
  margin: 20px 20px;
}
.main nav .links a:nth-last-child(1) {
  /* background-color: yellow; */
  padding: 7px 18px;
  border-radius: 50px;
  border: 1px solid #000;
  overflow: hidden;
  position: relative;
}
.main nav .links a:nth-last-child(1) h5 {
  font-size: 20px;
  font-weight: 300;
  position: relative;
  z-index: 1;
}

.main nav .links a:nth-last-child(1) .green {
  width: 100%;
  height: 100%;
  background-color: springgreen;
  position: absolute;
  top: 0%;
  left: -100%;
  transition: left 0.4s ease;
}

.main nav .links a:nth-last-child(1):hover .green {
  left: 0%;
}

.main > h1 {
  font-size: 6vw;
  width: 60%;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.main > h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5%;
  width: 35%;
  height: 16px;
  transform: translate(-50%, 0);
  background: url("https://thisisdigital.co.uk/dist/images/underline-green.svg");
  background-size: cover;
}
.main .img1 {
  width: 290px;
  height: 400px;
  position: absolute;
  left: 6%;
  top: 20%;
}
.main .img2 {
  width: 230px;
  height: 210px;
  position: absolute;
  right: 25%;
  top: 18%;
}
.main .img3 {
  width: 200px;
  height: 210px;
  position: absolute;
  right: 7%;
  bottom: 6%;
}
