*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}
.main{
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 0 5%;
    
}
nav img{
    margin-top: 10px;
    width: 10%;
}
nav .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
   
}
nav .links a{
    color: #222;
    text-decoration: none;

}
nav .cta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
nav .cta a{
    text-decoration: none;
    color: #222;
}
nav .cta button{
    font-size: 14px;
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
    border-radius: 5px;
    border: none;
}
nav .cta button:hover{
    background-color: transparent;
    color: #222;
    border: 1x solid #222;
}

/* part-1 */

.part-1{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    /* background-color: aliceblue; */
}
.content-part {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    height: 100%;
    /* background-color: #222; */
    background-image: url('https://images.unsplash.com/photo-1544456203-0af5a69f5789?auto=format&fit=crop&q=80&w=1374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}
.overlay{
    display: flex;
    justify-content:end;
    flex-direction: column;
    width: 95%;
    height: 100%;
    color: #fff;
    padding: 30px 50px;
    gap: 15px;
    /* background-color: #222; */
    /* background: linear-gradient(#22222222,#22222200,#222); */
    background: linear-gradient(#62f14f00,#ea606000,#00000090,#000);
}

.overlay h1{
    font-size: 50px;
    margin: 10px;
}
.overlay h4{
    font-size: 25px;
    margin: 10px;
}
.overlay p{
    width:40%;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 24px;
    color: #f1f1f1ee;
    margin: 10px;
}

.ri-arrow-right-circle-line{
    cursor: pointer;
    font-size: 90px;
    font-weight: 100;
    position: absolute;
    color: antiquewhite;
    top: 500px;
    right: 200px;
}

/* Part - 2 */

.part-2{
    display: flex;
    width: 100%;
    height: 150%;
    padding: 5% 4%;
    /* background-color: bisque; */
}

.lft-part-2{
    display: flex;
    flex-wrap: wrap;
    gap: 8%;
    width: 70%;
    height: 100%;
    /* background-color: orange; */
}
.rght-part-2{
    width: 30%;
    height: 100%;
    /* background-color: blueviolet; */
}
.part-2 .card{
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    flex-direction: column;
    gap: 10px;
}
.part-2 .card h1{
    font-size: 22px;
}
.part-2 .card p{
    width: 250px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 29px;
    text-align: justify;

}
.part-2 .card-img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
    background-color: cadetblue;
    background-position: 10% 5%;
    background-size: cover;
}
.part-2 .card-img:nth-child(1){
    background-image: url('https://images.unsplash.com/photo-1496440737103-cd596325d314?auto=format&fit=crop&q=80&w=1374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.part-2 .card:nth-child(2) .card-img{
    background-image: url('https://images.unsplash.com/photo-1525348371953-ac094a7e70be?auto=format&fit=crop&q=80&w=1374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.part-2 .card:nth-child(3) .card-img{
    background-image: url('https://images.unsplash.com/photo-1460402642842-fa689e470581?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.part-2 .card:nth-child(4) .card-img{
    background-image: url('https://images.unsplash.com/photo-1592082397520-a22bec17586b?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.part-2 .card:nth-child(5) .card-img{
    background-image: url('https://images.unsplash.com/photo-1524701208119-e91fc2e4c8e5?auto=format&fit=crop&q=80&w=1374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.part-2 .card:nth-child(6) .card-img{
    background-image: url('https://images.unsplash.com/photo-1578979879663-4ba6a968a50a?auto=format&fit=crop&q=80&w=1374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.part-2 .author{
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: space-between; */
}
.part-2 .author .author-img{
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 50%;
    background-position: 10% 20%;
    background-size: cover;
}
.part-2 .author .author-img:nth-child(1){
    background-image: url('https://images.unsplash.com/photo-1488426862026-3ee34a7d66df?auto=format&fit=crop&q=80&w=1374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.part-2 .author h4{
    font-size: 14px;
}