<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS File</title>
    <link rel="stylesheet" href="../stylesheet/index.css" />
    <script src="../javascript/script.js" defer></script>
  </head>
  <body>
    <!-- <h1>Template Engine</h1> -->

    <div class="box">
      <!-- <h3>age</h3> -->
      <h3><%= age %></h3>
      <img
        src="https://images.pexels.com/photos/755992/pexels-photo-755992.jpeg"
        alt="product image"
      />
    </div>
    <div class="box">
      <img
        src="https://images.pexels.com/photos/3910071/pexels-photo-3910071.jpeg"
        alt="product image"
      />
    </div>
    <div class="box">
      <img
        src="https://images.pexels.com/photos/1961795/pexels-photo-1961795.jpeg"
        alt="product image"
      />
    </div>
    <div class="box">
      <img
        src="https://images.pexels.com/photos/8793476/pexels-photo-8793476.jpeg"
        alt="product image"
      />
    </div>

    <div id="slogan">
      <h2 class="normal">
        Scented Whispers of <span class="fancy">Luxury</span>
      </h2>
      <h2 class="normal">
        Your <span class="fancy">Signature</span> Aesthetic
      </h2>
    </div>

    <!-- font family -->
    <link
      href="https://api.fontshare.com/v2/css?f[]=melodrama@400,600,700,1,500&f[]=plus-jakarta-sans@800,401,501,400,601,500,600,700,701&display=swap"
      rel="stylesheet"
    />
  </body>
</html>
