* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  /*
   background-color: coral; */
}

.main {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}
.nav {
  padding: 0 6%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  /* background-color: crimson; */
}
.left-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  font-family: "Segoe UI",
    "Segoe UI" "Helvetica Neue" Helvetica Arial sans-serif sans-serif;
  font-size: 14px;
  /* background-color: #fff; */
}
.main .nav a {
  color: #333;
  text-decoration: none;
}
.left-nav a img {
  width: 100px;
}
.right-nav {
  padding-left: 20%;
  /* padding-right:5%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  /* background-color: #5e1c1c; */
}
.right-nav a {
  /* white-space: nowrap; */
  /* width: calc(100%/4); */
  /* width: 25%; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 5%;
}
.right-nav a i {
  margin-right: 5%;
  font-size: 20px;
}
.right-nav a h3 {
  font-size: 14px;
  font-weight: 400;
}
/* slider */

.slider {
  display: flex;
  align-items: center;
  padding: 0 10%;
  width: 100%;
  height: 70%;
  background-image: url("../img/Highlight-Slim-Multi-Canvas-M365-Anthem-Attract-Image-Create_VP4-1399x600.avif");
  background-size: cover;
  background-position: center;
  /* background-color: orangered; */
}
.slider .slider-content {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 10%;
}
.slider .slider-content h1 {
  font-size: 40px;
  font-weight: 600;
  color: rgb(66, 68, 61);
}
.slider .slider-content p {
  width: 30%;
  font-size: 18px;
  line-height: 25px;
  color: #645b5b;
}
.slider a {
  text-decoration: none;
  color: #333;
}
.slider .btn-content {
  display: flex;
  align-items: center;
  gap: 2%;
}
.btn-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  height: 37px;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  background-color: rgb(0, 103, 184);
}
.btn-no {
  display: flex;
  align-items: center;
}
.btn-no a {
  font-weight: 600;
}

/* navigation */
.navigation{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}
.navigation-2{
  height: 20%;
  gap: 3%;
}
.navigation i{
  font-size: 20px;
}
.ri-arrow-left-s-line:hover{
  margin-right: 1%;
}
 
.windows{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 10%;
}
.windows img{
  width: 40px;
}
.windows a{
  color: #0067B8;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}

/* main2 */

.main2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 100%;
  height: 50%;
  padding: 0 10%;
  /* background-color: #0067B8; */
}
.products{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 2%;
  /* background-color: #0067B8; */
}
.products .product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2%;
  width: calc(100% / 4);
  height: 100%;
  /* background-color: #fff; */
}
.products .product .img-con{
  width: 100%;
  height: 100%;
  /* background-color: #333; */
  background-image: url('https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Content-Card-Surface-Laptop-5-M1-Platinum-01-1?wid=297&hei=167&fit=crop');
  background-position: center;
  background-size: cover;
}
.products .product .btn{
  display: flex;
  align-items: center;
  justify-content: left;
  /* padding-bottom: 5%; */
  gap: 1%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
.products .product .btn a{
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #0067B8;
}
.products .product .btn:hover{
  gap: 4%;
}
.products .product .btn a:hover{
  text-decoration: underline;
}
.products .product .img-con2{
  background-image: url('https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Surface-Laptop-Studio-01-CP?wid=297&hei=167&fit=crop');
}
.products .product .img-con3{
  background-image: url('https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-XSX-CP-Xbox-Series-X?wid=297&hei=167&fit=crop');
}
.products .product .img-con4{
  background-image: url('https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-XSS-CP-Xbox-Series-S-Evergreen?wid=297&hei=167&fit=crop');
}

.main3{
  width: 100%;
  height: 70%;
  background-color: #0067B8;
  padding: 5% 8%;
}
.showcase{
  width: 100%;
  height: 100%;
  background-color: #fff;
}