* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
/* .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(192, 234, 245);
}

.main h2 {
  font-size: 12vw;
}
.main button{
    padding: 0.8vw 2vw;
} */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: rgb(44, 116, 116); */
}
.container {
  width: 80%;
  height: 70%;
  /* background-color: #333; */
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 20vh;
}

.first {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15vw;
  height: 15vw;
  border-radius: 20px;
  color: #fff;
  /* background-color: rgba(216, 102, 201, 0.26); */
}
#days{
    background-color: rgb(245, 121, 121);
}
#hours{
    background-color: rgb(22, 103, 114);
}
#min{
    background-color: crimson;
}
#sec{
    background-color: rgb(160, 135, 22);
}
.first h2 {
   
  font-size: 3vw;
}

.first p {
  margin-top: 4vh;
  letter-spacing: 0.5vw;
}
