.food {
  color: orange;
  font-size: 30px;
  background-color: silver;
  padding: 10px;
}

.food-item {
  font-size: 40px;
  margin: 20px;
  padding: 10px;
  background-color: rgb(99, 57, 65);
}

.button {
  float: right;
}
