.grid-wrapper {
  padding: 2rem;
}
.grid-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  height: 400px;
}
.turn-highlight {
  color: #fff;
  text-align: center;
}
.reset {
  margin: 20px 0;
  margin-left: 100px;
  width: 140px;
  padding: 5px;
  background-color: palegreen;
  border-radius: 10px;
  color: #000;
  font-size: 20px;
  text-align: center;
}
